.LypadTextView,
.LypadTextView text {
    background-color: rgba(255, 255, 255, 0);
}

#LypadNoteWidget {
    margin: 0px;
    border-radius: 25px;
    border-bottom-width: 3px;
    border-color: rgb(194, 114, 49);
    border-bottom-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-width: 0.1px;
    border-top-style: solid;
    padding: 10px;
}

.LypadPanelRow {
    padding: 10px;
}

.LypadPanelRow button {
    min-width: 8px;
    min-height: 8px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.LypadTagListRow {
    padding-top: 8px;
    padding-bottom: 8px;
}

.LypadTagsBox button {
    min-width: 8px;
    min-height: 8px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.LypadHeaderButton:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.LypadHeaderMenuButton:checked {
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
}

.LypadNoteWindow scrollbar {
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

.LypadNoteWiLypadNoteWindowdget scrollbar slider {
    border-width: 1px;
}

#LypadTextColorChooser {
    padding-left: 5px;
    padding-right: 1px;
}

.LypadColorSpaceRadio {
    padding-top: 0px;
    padding-bottom: 0px;
}

.LypadNotesList {
    padding-top: 6px;
    padding-bottom: 6px;
}

.LypadNotesList>row {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#LypadTextListToggle {
    padding-left: 2px;
    padding-right: 2px;
}

#LypadTextListDropdown {
    padding-left: 0;
    padding-right: 0;
}